<% if !current_user %>
  <div id="login-dialog" title="Log in">
  <%= form_for(@user_session) do |f| %>
    <% if @user_session.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user_session.errors.count, "error") %> prohibited this user_session from being saved:</h2>

        <ul>
        <% @user_session.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username %>
    </div>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>
    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
  </div>

  <div id="register-dialog" title="Sign up">
    <%= form_for(@user) do |f| %>
      <%= f.label :username %><br/>
      <%= f.text_field :username %><br/>
      <%= f.label :email %><br/>
      <%= f.text_field :email %><br/>
      <%= f.label :password %><br/>
      <%= f.password_field :password %><br/>
      <%= f.label :password_confirmation %><br/>
      <%= f.password_field :password_confirmation %><br/>
      <br/>
      <%= f.submit "Register" %>
    <% end %>
  </div>
<% end %>
