<div class="section">
  <h2 class="section-title">Events I've been scheduled for</h2>
  <% current_user.preferences.each do |pref| %>
    <% if pref.event %>
      <h3><%= pref.event.activity.name %></h3>
      starting at <u><%= pref.event.start_time.strftime('%a %b %-e %Y: %-l:%M %p') %></u>
      and going until <u><%= pref.event.end_time.strftime('%a %b %-e %Y: %-l:%M %p') %></u>.<br/>
      <% # TODO find out who else is going? %>
    <% end %>
  <%end%>
</div>

<div class="section">
  <h2 class="section-title">My activity preferences</h2>
  <% Preference.where(user_id: current_user.id).each() do |p| %>
	  <h3><%= Activity.find(p.activity_id).name %>:</h3>
		<% p.times.each() do |t| %>
		<% s = t[:start]; e = t[:end] %>
	    <%= s.strftime('%a %b %-e %Y: %-l:%M %p') %>
		<% if s.year == e.year && s.month == e.month && s.day == e.day %>
		<%= e.strftime(' - %l:%M %p') %>
		<% else %>
		<%= e.strftime(' - %a %b %-e %Y: %-l:%M %p') %>
		<% end %>
		<br/>
		<% end %>
	  <br/>
  <% end %>
</div>


