<!DOCTYPE html>
<html>
<head>
  <title>Velociraptor</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "autocomplete-rails" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>

  <a href='/' class="title"><h1 class="title" title="amirite?">VELOCIRAPTOR</h1></a>
<div id="user">
<% if current_user %>
  Logged in as <%= current_user.username %>.
  <a class="logout-button" href="/logout">Log out</a>
<% else %>
  <a class="login-button">Log in</a> or 
  <a class="register-button">Sign up</a>
<% end %>
</div>

<div id="nav">
  <a class='button<%= ' ui-current' if(params[:controller] == 'home' and params[:action] == 'main')%>'
    href='/'>Home</a></label>
  <% if current_user %>
    <a class='button<%= ' ui-current' if(params[:controller] == 'home' and params[:action] == 'home')%>' 
      href='/prefs'>My Preferences and Events</a></label>
  <% end %>
  <a class='button<%= ' ui-current' if(params[:controller] == 'events' and params[:action] == 'browse')%>'
    href='/events/browse'>Browse events</a></label>
  <a class='button<%= ' ui-current' if(params[:controller] == 'activities' and params[:action] == 'browse')%>'
    href='/activities/browse'>Browse activities</a></label>
</div>

<div id="main">
<%= yield %>
</div>

<%= render :partial => '/shared/login' %>

</body>
</html>
